<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GOBTools.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <GOBTools.Settings>
            <setting name="BomToolsBomImportAllowBAssyParent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BomToolsPartCreateIncludeB49Assemblies" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BomToolsBomCompIncludeB49Assemblies" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BOMToolsBomCompIncludeB39Children" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BOMToolsBomCompIncludeB45Children" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StepperFilePath" serializeAs="String">
                <value>Browse for Path</value>
            </setting>
            <setting name="StepperVertName" serializeAs="String">
                <value>Vert Name</value>
            </setting>
            <setting name="StepperHorizName" serializeAs="String">
                <value>Horiz Name</value>
            </setting>
            <setting name="StepperAccelThresh" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="StepperStepSize" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="StepperIgnoreHoriz" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BomToolsBomCompIncludeC49Assemblies" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BomToolsFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BomToolsBomImportShowFasteners" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BomToolsBomCompShowFasteners" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BomToolsPartExportIncludeTopLevelAssy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BomToolsBomExportIncludeTopLevelAssy" serializeAs="String">
                <value>False</value>
            </setting>
        </GOBTools.Settings>
    </userSettings>
</configuration>
